/* CSS for header component */
h1{
    color: white;
    margin-inline-end: auto;
    padding: 0;
    margin-block: auto;
}
.header{
    max-height: 140px;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    gap: 1rem;
    padding-block: 1%;
    background-color: #510303;
    /* border: 2px orange solid; */
}
.logo{
    /* border: black solid 2px; */
    max-height: 100px;
    align-self: end;
    /* border: 2px white solid; */
}
.logo img{
    margin: 0;
    padding: 0;
    object-fit: cover;
    display: block;
    height: 100%;
    max-width: 100px;
    min-width: 0;
    margin-inline-start: auto;
}